 <!-- About Section -->
    <section class="success" id="recommendations">
        <div class="container">
            <div class="row">
                <div class="col-sm-12 text-center">
                    <h2>Recommendations </h2>
                    <hr class="star-light">
                </div>
            </div>
            <div class="row">
				<div class="col-sm-12">
				  <blockquote>
					<p>Ashish is always my go-to guy when I need sound advice on design, coding, and general architectural approaches on projects.</p>
					<p>Throughout the past 7 years, Ashish and I have collaborated on developing and maintaining high-volume health insurance web applications together.</p>
					<p>His diverse experience, reliability, and hard working have always ensured success in every project and contributed to solid client relationships. He always does things right the first time and takes a great deal of care in every step of the software development lifecycle.</p>
					<p>I remember one project in particular where we built a set of web services that could flexibly and safely submit sensitive customer enrollment and payment information to a scaling number of health insurance providers. Ashish overcame all sorts of challenges such as payment tokenization, encryption, and batch processing as well as web service security and scalability. He did an outstanding job despite the pressure of such a high-security, business-critical task.</p>
					<p>His curiosity, eagerness to learn new things, and sense of humor has always made him an absolute pleasure to work with.</p>
					<p>I highly recommend him for any software development team and I envy the next group of web developers that get to work with him!</p>
					<footer>From Bill Martin, Senior Web Developer at HealthPlan Services</footer>
				  </blockquote>
				</div>
            </div>
			<div class="row">
				<div class="col-sm-12">
				  <blockquote>
					<p>I know Ashish Gandhi for over 8 years. He is highly reliable, consistent and hard working individual who know how to design and implement complex information systems. He is highly proficient in PHP, Zend Framework, Magento and core of any web based software development. He was very instrumental in maintaining client specific systems that needed close client interactions. He is outgoing, easy to mingle with and has excellent communication skills. He can deliver systems under expected time frames with quality. I recommend him for any software development team that needs a senior to lead developer role and wish him even more success.</p>
					<footer>From Deepesh Joseph, PMP, Experience Senior Manager, Software Development</footer>
				  </blockquote>
				</div>
            </div>
			<div class="row">
				<div class="col-sm-12">
				  <blockquote>
					<p>Ashish is a strong developer with a great work ethic and sense of responsiblity. He doesn't operate in half measures, and can be counted on to do whatever it takes to in order to meet project deadlines.</p>
					<footer>From Dave Hemke, Director of Information Technology at Branded Holdings</footer>
				  </blockquote>
				</div>
            </div>
			<div class="row">
				<div class="col-sm-12">
				  <blockquote>
					<p>Ashish is a programmer with an extra edge for adaptation and execution of new technologies without missing any deadlines. His efforts outstanding on a single task or whole project. </p>
					<p>We really appreciate his ability to quickly understand the requirement and develop it in a very well organized approach.</p>
					<p>He is a Project Manager breed and I always recommend him for leading any kind of development team.</p>
					<p>We always are ready to get him back in our team and he's always ready to help us in any kind even after leaving to USA 8 years back.</p>
					<footer>From Parthiv Shah, Director at Proses Web Technologies Pvt. Ltd.</footer>
				  </blockquote>
				</div>
            </div>
        </div>
    </section>
