 <!-- About Section -->
    <section class="success" id="about">
        <div class="container">
            <div class="row">
                <div class="col-lg-12 text-center">
                    <h2>Recommendations </h2>
                    <hr class="star-light">
                </div>
            </div>
            <div class="row">
				  <blockquote>
					<p>For 50 years, WWF has been protecting the future of nature. The world's leading conservation organization, WWF works in 100 countries and is supported by 1.2 million members in the United States and close to 5 million globally.</p>
					<footer>From WWF's website</footer>
				  </blockquote>
            </div>
        </div>
    </section>
