 <!-- About Section -->
    <section class="success" id="recommendations">
        <div class="container">
            <div class="row">
                <div class="col-lg-12 text-center">
                    <h2>Recommendations </h2>
                    <hr class="star-light">
                </div>
            </div>
            <div class="row">
				<div class="col-sm-12">
				  <blockquote>
					<p>Ashish is always my go-to guy when I need sound advice on design, coding, and general architectural approaches on projects.</p>
					<p>Throughout the past 7 years, Ashish and I have collaborated on developing and maintaining high-volume health insurance web applications together.</p>
					<p>His diverse experience, reliability, and hard working have always ensured success in every project and contributed to solid client relationships. He always does things right the first time and takes a great deal of care in every step of the software development lifecycle.</p>
					<p>I remember one project in particular where we built a set of web services that could flexibly and safely submit sensitive customer enrollment and payment information to a scaling number of health insurance providers. Ashish overcame all sorts of challenges such as payment tokenization, encryption, and batch processing as well as web service security and scalability. He did an outstanding job despite the pressure of such a high-security, business-critical task.</p>
					<p>His curiosity, eagerness to learn new things, and sense of humor has always made him an absolute pleasure to work with.</p>
					<p>I highly recommend him for any software development team and I envy the next group of web developers that get to work with him!</p>
					<footer>From Bill Martin, Senior Web Developer at HealthPlan Services</footer>
				  </blockquote>
				</div>
            </div>

        </div>
    </section>
